.console_history

cache
config/paper-world-defaults.yml
logs

world
world_nether
world_the_end
bskyblock_world
bskyblock_world_nether
bskyblock_world_the_end

data-storage

banned-ips.json
banned-players.json
commands.yml
help.yml
ops.json
permissions.yml
usercache.json
version_history.json
whitelist.json

plugins/bStats
plugins/Economy/data
plugins/ODailyQuests/database.mv.db
plugins/ODailyQuests/holograms.yml
plugins/ODailyQuests/progression.yml
plugins/QuickShop/overrides/*
!plugins/QuickShop/overrides/zh-cn
plugins/update
plugins/Vault