/.console_history

/cache
/config/paper-world-defaults.yml
/logs

/world
/world_nether
/world_the_end
/bskyblock_world
/bskyblock_world_nether
/bskyblock_world_the_end

/data-storage

/banned-ips.json
/banned-players.json
/commands.yml
/help.yml
/ops.json
/permissions.yml
/usercache.json
/version_history.json
/whitelist.json

/plugins/BentoBox/database
/plugins/BentoBox/database_backup
/plugins/BentoBox/locales/Bank/*
!/plugins/BentoBox/locales/Bank/zh-CN.yml
/plugins/BentoBox/locales/BentoBox/*
/plugins/BentoBox/locales/BentoBox/zh-CN.yml
/plugins/BentoBox/locales/Biomes/*
/plugins/BentoBox/locales/Biomes/zh-CN.yml
/plugins/BentoBox/locales/BSkyBlock/*
/plugins/BentoBox/locales/BSkyBlock/zh-CN.yml
/plugins/BentoBox/locales/Challenges/*
/plugins/BentoBox/locales/Challenges/zh-CN.yml
/plugins/BentoBox/locales/ControlPanel/*
/plugins/BentoBox/locales/ControlPanel/zh-CN.yml
/plugins/BentoBox/locales/Level/*
/plugins/BentoBox/locales/Level/zh-CN.yml
/plugins/BentoBox/locales/MagicCobblestoneGenerator/*
/plugins/BentoBox/locales/MagicCobblestoneGenerator/zh-CN.yml
/plugins/BentoBox/locales/Warps/*
/plugins/BentoBox/locales/Warps/zh-CN.yml

/plugins/bStats

/plugins/Economy/data

/plugins/ODailyQuests/database.mv.db
/plugins/ODailyQuests/holograms.yml
/plugins/ODailyQuests/progression.yml

/plugins/QuickShop/overrides/*
!/plugins/QuickShop/overrides/zh_cn
/plugins/QuickShop/qs.log
/plugins/QuickShop/shops.db

/plugins/Slimefun/world-settings
/plugins/Slimefun/block-storage.yml
/plugins/Slimefun/item-models.yml
/plugins/Slimefun/profile-storage.yml
/plugins/Slimefun/Researches.yml
/plugins/Slimefun/resources.yml
/plugins/Slimefun/sounds.yml

/plugins/update

/plugins/Vault